<div id="fullpage">
    <div class="section" id="title-page">
        {% for photo in human_gallery %}
            {{ photo.img }}
        {% endfor %}
    </div>
    <div class="section" id="humanizing-gallery"></div>
    <div class="section" id="game-gallery"></div>
    <div class="section" id="articles"></div>
</div>