<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <base href="https://features.dailybruin.com/2018/bruinsinseattle/">
  <title>{{ flatpage_feature_head }} | Daily Bruin</title>
  <meta name="description" content="{{ flatpage_blurb }}">

  <!-- Favicon -->


  <!-- Facebook -->
  <meta property="og:url" content="http://features.dailybruin.com/2018/bruinsinseattle">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ flatpage_feature_head }} | Daily Bruin">
  <meta property="og:image" content="http://features.dailybruin.com/2018/bruinsinseattle/img/cover.jpg">
  <meta property="og:description" content="{{ flatpage_blurb }}">
  <meta property="og:locale" content="en_US">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@dailybruin">
  <meta name="twitter:url" content="http://features.dailybruin.com/2018/bruinsinseattle">
  <meta name="twitter:title" content="{{ flatpage_feature_head }} | Daily Bruin">
  <meta name="twitter:description" content="{{ flatpage_blurb }}">
  <meta name="twitter:image" content="http://features.dailybruin.com/2018/bruinsinseattle/img/cover.jpg">


  <!-- Web Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Arimo:400,700|Unica+One|Karla" rel="stylesheet">
  <!-- External CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" integrity="sha256-oSrCnRYXvHG31SBifqP2PM1uje7SJUyX0nTwO2RJV54=" crossorigin="anonymous">

  <link rel="stylesheet" href="./css/index.css">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-28181852-23"></script><script>window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-28181852-23');</script>
</head>
